# Игнорировать временные файлы
*.log
*.tmp
*.txt

# Игнорировать папку с виртуальным окружением
venv/

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/

# Игнорировать файлы с секретными данными
.env